input[type="number"] {
  -webkit-appearance: none; /* Safari y Chrome */
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Resto de navegadores */
}

.contenedor-formulario {
  max-width: 600px;
  width: 100%;
  margin:  auto;
  background-color: #e7e7e7;
  margin-top: 2em;
  border-radius: 1em;

  @media (width< 820px) {
    margin-top: 9em;
  }
}

.contenedor-formulario .datos_formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.contenedor-formulario .datos_formulario .producto_input {
  padding: 1em;
  outline: none;
  border: 1px solid #e0d9d9;
  border-radius: 0.6em;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  margin-top: 1em;
}

.contenedor-formulario .datos_formulario .textArea {
  resize: none;
  width: 90%;
  height: 5rem;
}

.contenedor-formulario .datos_formulario .zoneColor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  text-wrap: wrap;
  margin-bottom: 2em;
}

.contenedor-formulario .datos_formulario .zoneColor p{
  width: 100%;
  text-align: center;
}
.contenedor-formulario .datos_formulario .zoneColor .input-p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  
}



/* Estilos para el contenedor principal */
.input-p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Estilos para ocultar el input original */
.input-p input[type="checkbox"] {
  display: none;
}

/* Estilos para el diseño personalizado del checkbox */
.input-p label {
  position: relative;
  display: inline-block;
  width: 24px; /* Ancho deseado del checkbox */
  height: 24px; /* Altura deseada del checkbox */
  background-color: #e6d2d2; /* Color de fondo del checkbox no marcado */
  border: 1px solid #3c3b3b;
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer;
  margin-right: 10px; /* Espacio entre el checkbox y el texto */
}

/* Estilos para el diseño personalizado del checkbox cuando está marcado */
.input-p input[type="checkbox"]:checked + label {
  background-color: var(--color-selected); /* Usamos una variable para el color seleccionado */
}

/* Estilos para el texto del checkbox */
.input-p span {
  font-size: 16px; /* Tamaño de fuente del texto */
  color: #333; /* Color del texto */
}

.file_file{
  background: white;
  width: 90%;
  border-radius: 0 0.5em 0.5em 0;
  margin-bottom: 1.5em;
}

.boton_producto{
  padding: 1em;
    border: none;
    width: 15em;
    border-radius: 0.5em;
    color: var(--white);
    background: var(--red-primary);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 3em;
}