.titulo{
font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 35px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 2fr auto auto;
    padding: 10px;
    align-items: center;
}
.producto{
    margin-left: 35%;

}

.opcion{
    display: flex;
    width: 100%;
    margin-right: 170px;
    justify-content: flex-end;
    margin-left: -12%;
    font-family: 'Montserrat', sans-serif;
    & h2{
        margin-right: 172px;
        font-family: 'Montserrat', sans-serif;
    }
}
/* .opcion{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px;
} */

.carr1{
    display: flex;
    align-items: center;
    
    font-family: 'Montserrat', sans-serif;justify-content: space-evenly;
}
.carr2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.addCarrito{
    height: 40px;
    width:45%;
    background: var(--white);
    border: 1px solid var(--grey);
    font-size: 10px;
	font-family: 'Montserrat', sans-serif;
    margin-right: .5em;
    transition: .5s background ease;
    cursor: pointer;
    margin-left: -31px;
    margin-top: 4%;
    background: var(--red-primary);
}

.addCarrito:hover{
    background: var(--white);
    color: var(black);
    transition: .5s background ease;
    
}
.mensaje{
    padding: 25%;
    background-color: rgb(240, 213, 213);
    margin-top: 4%;

}
.press{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.im{
    margin-top: 4%;
}