.container-perfil {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  max-width: 1024px;
  padding: 5% 3%;
  background-color: rgb(239, 239, 239);
  margin-top: 5em;
  border-radius: 1em;
width: 90%;
  @media (width < 821px) {
    max-width: 800px;
    padding-top: 5em;

    @media (width < 376px) {
      background-color: rgb(255, 255, 255);
      padding: 5em 0 0 0;
      width: 90%;
    }
  }
}

.container-perfil .perfil {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.container-perfil .cont1_cont2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.container-perfil .cont1_cont2 .Cont1 {
  max-width: 19em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-perfil .cont1_cont2 .Cont1 .back_register {
  width: 100%;
  @media (width < 550px) {
    width: 13em;
  }
}

.container-perfil .cont1_cont2 .Cont1 button {
  width: 150px;
  padding: 0.8em 0px;
  margin-top: 1.5em;
  border: none;
  background-color: var(--red-primary);
  color: white;
  border-radius: 1em;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
}
.container-perfil .cont1_cont2 .Cont2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 350px;
  width: auto;
}
.container-perfil .todo {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.container-perfil .cont1_cont2 .Cont2 .datos_personales{
font-weight: 600;
}

.container-perfil .cont1_cont2 .Cont2 .datos_personales span{
font-weight: 500;
}




.container-perfil .todo .favoritos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 2em;
}

.container-perfil .todo .favoritos .title_favoritos {
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 700;
}

.container-perfil .todo .favoritos .cont_card_fav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
  justify-content: center;
  
  @media (width < 820px) {
    
    padding-left: 1em;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: scroll;
    padding-bottom: 1em;
  }
}

.container-perfil .todo .Historial {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container-perfil .todo .Historial .title_historial {
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 700;
}

.container-perfil .todo .Historial .cont_card_his {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
  justify-content: center;

  @media (width < 820px) {
    
    padding-left: 1em;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: scroll;
    padding-bottom: 1em;
  }
}
