.container{
 
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  border-radius: 10PX;
  padding: 25px;
}
.capa{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  background-color: rgba(0, 255, 255, 0.445);
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 1s ease ;
  border-radius: 10px;
  align-items: center;
}


.espacio-imagen{
  position:relative;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  

}

.espacio-imagen .principal-image{
  width: 300px;
  border-radius: 10px;
}

h2{
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  transition:  ease 0.1ms;
}


.text-info{
  font-weight: 100;
  font-size: 18px;
}
.info-valor-time{
  display: flex;
  justify-content: space-between;
}


.icon-text{
  display: flex;
  gap: 8px;
  
}

.perfil{
  display: flex;
  gap: 10px;

}

.perfil img{
  border-radius: 50%;
  width: 35px;
}
hr{
  height: 1px;
  border: none;
}

.perfil span{
  display: flex;
  
  cursor: pointer;
}
.perfil p{
  display: flex;
  gap: 5px;
}

.capa:hover{
  opacity: 1;
 
}