/* Estilos para el encabezado */
.ser {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-top: 10%;
}

/* Estilos para el formulario y el contenedor */
.container-R {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  margin-top: 6%;

}

/* Estilos para los campos de entrada de texto */
.tip {
  width: 97%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el campo de dirección y el área de texto */
.tipo {
  width: 97%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
  background-color: #d86161;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
@media (max-width: 820px) {
.container-R{
  margin-top: 10%;
}
.ser{
  margin-top: 50%;
}
}
